.our-command__content {
    background-color: #f5f4fa;
    padding: 94px 0;

    & h2 {
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--h2-h3-color);
        margin-bottom: 50px;

    }

    & h3 {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--h2-h3-color);
        margin-bottom: 10px;
    }

    & p {
        
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--text-color);
    }
}

.our-command__indent {
    display: flex;
    gap: 30px;
}

.our-command__card {
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
}

.our-command__card-indent {
    padding: 30px 32px;
}

