.our-command__icon-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px; 
    gap: 10px;    
}

.our-command__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--hover-color);
    }
    &:hover .our-command__icon,
    &:focus .our-command__icon {
        fill: #ffffff;
    }
}

.our-command__icon {
    fill: var(--icon-logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
