.modal-form__submit-btn {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #188ce8;
    padding: 10px 52px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        outline: none;
    }
}