.footer__logo-wrapper {
    margin-bottom: 20px;
}

.logo__text-white {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-color);
}