.logo__header {
    @media screen and (max-width: 479px) {
        margin-right: 88px;       
        margin-bottom: 10px;        
    }
        
    @media screen and (min-width: 480px) {
        margin-right: 88px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-right: 94px;
    }
}

.logo__text-dark {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--logo-color-black);

    @media screen and (max-width: 1199px) {        
        font-size: 24px;
        line-height: 0.85;        
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;        
    }
}
        
    .logo__text-blue {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700;
        color: var(--hover-color);

        @media screen and (max-width: 1199px) {            
            font-size: 24px;
            line-height: 0.85;            
        }

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;
        }                    
    }
    
