.footer-mailing__content {
    margin-left: auto;

    @media screen and (min-width: 480px) {
        text-align: center;
        
    }

    & p {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.footer-mailing__form {
    display: flex;

    @media screen and (min-width: 480px) {
        flex-wrap: wrap;
    }
}

.footer-mailing__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    outline: none;
    background-color: var(--bg-color-black);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    padding-right: auto;
    cursor: pointer;
    color: #ffffff;

    @media screen and (min-width: 480px) {
        box-sizing: border-box;
        width: 450px;
        margin-bottom: 20px;
    }

    &:focus {
        border-color: var(--hover-color);
        color: #ffffff;
    }


    &::placeholder {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: solid rgba(255, 255, 255, 0.6);
    }
}