.footer-mailing__btn {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 12px;
    background-color: var(--hover-color);
    padding: 10px 28px 10px 28px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
        padding: 10px 31px 10px 31px;
        margin-left: auto;
        margin-right: auto;
        
        
    }

    &:focus,
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.footer-mailing__icon {
    margin-left: 10px;    
}

