.modal__header {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form__field {
    display: block;
    margin-bottom: 10px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:nth-child(4) {
        margin-bottom: 20px;
    }
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--hover-color);
        outline: none;
    }

    &:focus + .modal-form__icon {
        fill: var(--hover-color);
        outline: none;
    }
}

.modal-form__icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;

    &:focus {
        border-color: var(--hover-color);
        outline: none;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
}

.modal-form__title-comment,
.modal-form__title-name,
.modal-form__title-phone,
.modal-form__title-email {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    display: block;
}

.modal-form__input-wrapper {
    position: relative;
    display: block;
}

.checkbox-icon-border {
    display: flex;
    align-items: center;
    justify-items: center;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #212121;
    border-radius: 2px;
    background-color: #ffffff;
}

.checkbox-icon {
    visibility: hidden;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label .checkbox-icon {
    visibility: visible;
    background-color: var(--hover-color);
    border: none;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label .checkbox-icon-border {
    border-color: #2196f3;
}

.modal-form__checkbox:focus + .modal-form__checkbox-label .checkbox-icon-border {
    outline: 1px solid var(--hover-color);
}

.modal-form__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);

    & a {
        color: var(--hover-color);
    }
}