.modal {
    position: absolute;  
    height: 609px;
    left: 50%;    
    top: 40%;
    border-radius: 4px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1),
        1250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

    @media screen and (max-width: 479px) {
        width: 305px;        
        padding: 15px;        
    }

    @media screen and (min-width: 480px) {
        width: 450px;        
    }

    @media screen and (min-width: 768px) {
        top: 53%;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
        top: 50%;        
    }
}