.our-client__content {
    padding: 94px 0;

    & h2 {
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--h2-h3-color);
        margin-bottom: 50px;
    }
}

.our-client__logo-wrapper {
    display: flex;
}

.client-logo__icon {
    fill: var(--icon-logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo__indent:not(:last-child) {
    margin-right: 30px;
}

.client-logo__link {
    display: flex;
    border: 1px solid var(--icon-logo-color);
    border-radius: 4px;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--hover-color);
    }

    &:hover .client-logo__icon,
    &:focus .client-logo__icon {
        fill: var(--hover-color);
    }
}