.project__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &:not(:last-child) {
        margin-bottom: 30px;
        margin-right: 30px;
    }

    @media screen and (min-width: 480px) {
        margin-right: 0;        
    }     
}

.project__card-animation {
    overflow: hidden;
    position: relative;    
}

.project__description {
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.85;
    color: var(--text-color);
    flex-grow: 1;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;        
    }   

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.project__description h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--h2-h3-color);
    margin-bottom: 4px;
}

.project__card-overlay {
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    bottom: 0px;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        550ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
        font-size: 14px;
    }

    
}

.project__cards {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;    
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    & img {

        @media screen and (max-width: 479px) {
            width: 290px;
        }

        @media screen and (min-width: 480px) {
            width: 100%;
        }

        @media screen and (min-width: 768px) {            
            flex-basis: calc((100% - 30px) / 2);
        }
    }

    @media screen and (max-width: 479px) {
        width: 290px;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }   
    
    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
            0px 1px 1px rgba(0, 0, 0, 0.12);
    }

    &:hover .project__card-overlay,
    &:focus .project__card-overlay {
        transform: translateY(0%);
    }        
}
